---
layout: contact
---

<section class="mt-15">
    {% if quicklinks.links %}

    {% for item in quicklinks.links %}
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="/static/img/{{item.title}}.png" alt="{{item.title}}" /></figure>
            <div class="card-body">
                <h2 class="card-title">{{item.title}}</h2>
                <p>{{item.desc}}</p>
                <div class="card-actions justify-end">
                <button class="btn btn-primary" onclick="location.href='{{item.url}}'">Contact Now</button>
            </div>
        </div>
    {% endfor %}

    {% endif %}
</section>