---
layout: default
title: Kristofer's Blog
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">
      {{ title }}
    </strong>
  </h1>
  <p>
    Hi👋, I'm a 15 year old student, who loves to tinker with tech!
  </p>
  <div class="mockup-code mt-8">
    <pre data-prefix=">" onClick="window.location.href='/blog'"><code>Blog Posts</code></pre>
    <pre data-prefix=">" onClick="window.location.href='/about'">About Me<code></code></pre>
    <pre data-prefix=">" onClick="window.location.href='/contact'"><code>Contact Me</code></pre>
  </div>
</div></div>